QService/Web References/GenQService/GenQueue.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenNineQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sliptypedetail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sliptypeflag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locationdesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crtdby" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenNineQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenNineQueueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenNineQueueSoapIn">
    <wsdl:part name="parameters" element="tns:GenNineQueue" />
  </wsdl:message>
  <wsdl:message name="GenNineQueueSoapOut">
    <wsdl:part name="parameters" element="tns:GenNineQueueResponse" />
  </wsdl:message>
  <wsdl:portType name="GenQueueSoap">
    <wsdl:operation name="GenNineQueue">
      <wsdl:input message="tns:GenNineQueueSoapIn" />
      <wsdl:output message="tns:GenNineQueueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenQueueSoap" type="tns:GenQueueSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenNineQueue">
      <soap:operation soapAction="http://tempuri.org/GenNineQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GenQueueSoap12" type="tns:GenQueueSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenNineQueue">
      <soap12:operation soapAction="http://tempuri.org/GenNineQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenQueue">
    <wsdl:port name="GenQueueSoap" binding="tns:GenQueueSoap">
      <soap:address location="http://localhost/GenQ/GenQueue.asmx" />
    </wsdl:port>
    <wsdl:port name="GenQueueSoap12" binding="tns:GenQueueSoap12">
      <soap12:address location="http://localhost/GenQ/GenQueue.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>